<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /alterio
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /alteriofoto/index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /alteriofoto/index.php
</IfModule>